/* This stylesheet is used to style the admin option form of the plugin. */

#icon-epu-admin {
    background: transparent url( '../img/screen_icon.png' ) no-repeat;
}

.cw-epu-wrap-admin{overflow:hidden;}
.cw-epu-wrap-admin .cw-epu-help-btn{cursor:pointer;color:#21759b;border-bottom: 1px dotted #21759b;padding-bottom:2px}
.cw-epu-wrap-admin .cw-epu-help-btn:after{content:"\2193";}

.cw-epu-wrap-admin .cw-epu-help-wrapper{margin-top:5px;display: none;}

.cw-epu-wrap-admin .help-descr{}
.cw-epu-wrap-admin .help-descr img{vertical-align:bottom;}

.cw-epu-wrap-admin .epu-table{}
.cw-epu-wrap-admin .epu-table .total_row{}
.cw-epu-wrap-admin .epu-table .total_row>td{font-weight: bold}


.cw-epu-wrap-admin .fieldset-wrapper{margin-bottom:15px;}
.cw-epu-wrap-admin fieldset{padding:4px 9px 7px 9px;border:1px solid #ccc;}
.cw-epu-wrap-admin .field-row{margin:7px 0px;}

.cw-epu-wrap-admin .main-admin-container{width:70%;float:left;clear:both;}
.cw-epu-wrap-admin .right-sidebar{width:290px;padding-left:10px;float:right;}

.cw-epu-wrap-admin .descr{font-size:0.9em}
.cw-epu-wrap-admin .descr-small{font-size:0.85em}
.cw-epu-wrap-admin .postbox-container .hndle{cursor:text!important;}


.cw-epu-wrap-admin .postbox-container .inside .cw-admin-footer{font-size:0.9em;overflow:hidden;border-top:1px solid #ccc;padding-top:5px;}
.cw-epu-wrap-admin .postbox-container .inside .cw-admin-footer .left-col{float:left;margin-right:20px;}
.cw-epu-wrap-admin .postbox-container .inside .cw-admin-footer .right-col{float:left;text-align:center;}


.cw-epu-print-only{display:none;}
/* MEDIA FOR PRINT*/

@media print{
  #adminmenuback,#adminmenuwrap,#wpadminbar,#wpfooter,.update-nag,.cw-epu-no-print,.mini,.icon32{display:none !important;}
	.cw-epu-wrap-admin .main-admin-container,#wpcontent,table.widefat td{width:100% !important;}
	html.wp-toolbar{padding-top:0px !important;}
	#wpcontent{margin-left:0px;}
	table.widefat, table.widefat tr, table.widefat th, table.widefat td{border:none;}
	table.widefat thead th{border-bottom:1px solid #000;white-space:nowrap;}
	table.widefat td{border-bottom:1px solid #000;white-space:nowrap;}
  .cw-epu-print-ready,.cw-epu-print-only{display:block !important;}
}